@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
}

.card {
    width: 350px;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    margin: 140px auto;
}

.qr-code-image {
    padding: 18px;
    width: 90%;
    max-height: 350px;
    border-radius: 30px;
}

.title {
    color: var(--dark-blue);
    margin: 0;
    padding: 0 30px;
    font-weight: 700;
    font-size: 24px;
    font-family: "Red Hat Display", outfit;
}

.qr-code-description {
    color: var(--grayish-blue);
    margin: 0;
    line-height: 20px;
    padding: 0 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    font-family: "Red Hat Display", outfit;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1440px) {
    
}

@media (min-width: 375px) {
    
}